name: Nitro CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - uses: denolib/setup-deno@v2
        with:
          deno-version: v1.x
      - run: |
          deno --version
          deno run https://github.com/Bavfalcon9/Nitro/blob/master/examples/Basic.ts
#          deno run https://github.com/Bavfalcon9/Nitro/blob/master/tests/NitroProficiencyTest.ts
